.tile {
    color: #fff;
    float: left;
    font-size: 1.8rem;
    height: 4rem;
    line-height: 4rem;
    position: relative;
    text-align: center;
    width: 4rem;
}
.tile:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    border-bottom: 1px solid #EBF1FB;
    border-left: 1px solid #EBF1FB;
    background: #1E4488;
    transition: all linear 0.2s;
}
.tile.show:after {content: '?';background: #008280;}