.select_label {
    color: #1E4488;
    font-size: 1.4rem;
    line-height: 3rem;
    margin-right: 1.24rem;
}
.select {
    border: 1px solid #1E4488;
    border-radius: 0.4rem;
    color:#1E4488;
    font-size: 1.4rem;
    height: 3rem;
    margin-right: 1.4rem;
    width: 12.7rem;
}